<div class="row booking-title-header">
	<div class="col-lg-6">
		<h2 class="booking-title">募集中の部屋</h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="booking-panel">
			<h3><a href="">お部屋の名前</a></h3>
			<div class="amount-data">
				4人
			</div>
		</div>
	</div>
</div>
