<div class="row">
	<div class="col-lg-6">
		<div class="room-info-panel">
			<h2 class="room-title">お部屋の名前</h2>
			<div class="image-box">
				<img src="" alt="" width="170" height="200">
			</div>
			<div class="description">
				<p>あいうえお</p>
				<p>
					4 / 5
				</p>
				<button type="button" class="btn btn-primary btn-sm">
					参加
				</button>
			</div>
		</div>
	</div>
</div>

