<h2 class="room-title">お部屋の名前</h2>
<img src="" alt="" width="300" height="200">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius culpa architecto commodi totam velit quam, in ratione, facere quae, asperiores amet alias. Perferendis deleniti impedit amet nulla excepturi aliquid unde.</p>
<p>4 / 5</p>
<button type="button" class="btn btn-primary btn-md">
	参加
</button>
